[run]
source =
    game
    tests
    
omit =
    env/*
    */test*
    */__init__.py
[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    if __name__ == '__main__':
    def suite
    __str__
    __repr__
    actual_turn
    end_game 
    exchange_index_tile
    end_current_turn
    show_tiles
    show_board
    count



    

